biopython==1.79
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
numpy==1.23.5
ProDy==2.4.1
pyparsing==3.1.1
scipy==1.11.3
